JIRA_BASE_URL=https://sua-empresa.atlassian.net
JIRA_EMAIL=seu-email@empresa.com
JIRA_API_TOKEN=seu-token-aqui

SMTP_FROM_EMAIL=processosautomatizados@quality.com.br
SMTP_USERNAME=processosautomatizados@quality.com.br
SMTP_PASSWORD=sua-senha-aqui
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_DEFAULT_RECIPIENTS=destino1@empresa.com, destino2@empresa.com
